<ion-fab left top>
  <button ion-fab color="orange" (click)="filter()"><ion-icon name="options"></ion-icon></button>
</ion-fab>

<ion-fab right top>
  <button ion-fab color="orange" (click)="add()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>
  <div #map id="map"></div>
  <map-pin id="'pin'+i" 
    *ngFor="let pin of pins; let i = index"
    (click)="openStory()"
    [style.top.px]="pin.h"
    [style.left.px]="pin.w">
  </map-pin>

  <ion-slides>
    <ion-slide *ngFor="let pin of pins; let i = index">
      <ion-card>
        <ion-card-header>
          Preview of Post {{i+1}}
        </ion-card-header>
        <ion-card-content>
          The content of a post can be a photo/video with text, a tip, a question, an announcement.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
